*.aps
*.opendb
*.ipch
vikaTestAppWindows/Debug/
vikaTestAppWindows/x64/
*.suo
vikaTestAppWindows/vikaEngine.VC.db
vikaTestAppWindows/vikaTestApp.VC.db
vikaTestAppWindows/.vs/vikaTestApp/v15/Browse.VC.db
